In [114]:
import pandas as pd

In [115]:
df = pd.read_csv('/Users/lsiddiqsunny/Documents/Notre_Dame/Research/ICSE23-results/CodeGen/SF110-Results/csv-data/Test_Correctness_CodeGen_SF110.csv')
df.head()

,MODEL,PROJECT_NAME,CLASS_NAME,FILE_NAME,SCENARIO,TOKEN,TOTAL_TESTS,TOTAL_FAILURES,TOTAL_SKIPPED,TOTAL_ABORTED,TOTAL_TIME
0,CodeGen,69_lhamacaw,macaw.system,original_StartupOptions_useDemo_2000_2_Test.java,original,2000,0,0,0,0,0
1,CodeGen,69_lhamacaw,macaw.system,original_StartupOptions_useDemo_2000_3_Test.java,original,2000,0,0,0,0,0
2,CodeGen,69_lhamacaw,macaw.system,scenario1_StartupOptions_useDemo_2000_4_Test.java,scenario1,2000,0,0,0,0,0
3,CodeGen,69_lhamacaw,macaw.system,scenario2_StartupOptions_useDemo_2000_5_Test.java,scenario2,2000,1,1,0,0,32
4,CodeGen,69_lhamacaw,macaw.system,original_StartupOptions_useDemo_2000_8_Test.java,original,2000,0,0,0,0,0

In [116]:
df.drop('PROJECT_NAME', inplace=True, axis=1)
df.drop('CLASS_NAME', inplace=True, axis=1)
df.head()

,MODEL,FILE_NAME,SCENARIO,TOKEN,TOTAL_TESTS,TOTAL_FAILURES,TOTAL_SKIPPED,TOTAL_ABORTED,TOTAL_TIME
0,CodeGen,original_StartupOptions_useDemo_2000_2_Test.java,original,2000,0,0,0,0,0
1,CodeGen,original_StartupOptions_useDemo_2000_3_Test.java,original,2000,0,0,0,0,0
2,CodeGen,scenario1_StartupOptions_useDemo_2000_4_Test.java,scenario1,2000,0,0,0,0,0
3,CodeGen,scenario2_StartupOptions_useDemo_2000_5_Test.java,scenario2,2000,1,1,0,0,32
4,CodeGen,original_StartupOptions_useDemo_2000_8_Test.java,original,2000,0,0,0,0,0

In [117]:
# df['MODEL'] = 'ChatGPT-3.5'
df['TOTAL_TIME'] = df['TOTAL_TIME'].div(1000)
df.head()

,MODEL,FILE_NAME,SCENARIO,TOKEN,TOTAL_TESTS,TOTAL_FAILURES,TOTAL_SKIPPED,TOTAL_ABORTED,TOTAL_TIME
0,CodeGen,original_StartupOptions_useDemo_2000_2_Test.java,original,2000,0,0,0,0,0.000
1,CodeGen,original_StartupOptions_useDemo_2000_3_Test.java,original,2000,0,0,0,0,0.000
2,CodeGen,scenario1_StartupOptions_useDemo_2000_4_Test.java,scenario1,2000,0,0,0,0,0.000
3,CodeGen,scenario2_StartupOptions_useDemo_2000_5_Test.java,scenario2,2000,1,1,0,0,0.032
4,CodeGen,original_StartupOptions_useDemo_2000_8_Test.java,original,2000,0,0,0,0,0.000

In [118]:
def get_scenario(x):
    if "TEST-" in x:
        return x.split('-')[1]
    return x

In [119]:
def get_class(x):
    classname = x.split('.')[0]
    if "TEST-" in x:
        classname = classname.split('-')[1]
    return classname

In [120]:
def calculate_success(row):
    total_tests = row['TOTAL_TESTS']
    total_success = row['TOTAL_TESTS'] - row['TOTAL_FAILURES'] - row['TOTAL_SKIPPED'] -row ['TOTAL_ABORTED']
    if total_tests == 0:
        return "0.0%"
    return str((total_success/total_tests)*100)+"%"

In [121]:
df['SCENARIO'] =  df['SCENARIO'].apply(get_scenario)
df['FILE_NAME'] =  df['FILE_NAME'].apply(get_class)

df['SUCCESS_RATE'] = df.apply(calculate_success, axis=1)
df.head()

,MODEL,FILE_NAME,SCENARIO,TOKEN,TOTAL_TESTS,TOTAL_FAILURES,TOTAL_SKIPPED,TOTAL_ABORTED,TOTAL_TIME,SUCCESS_RATE
0,CodeGen,original_StartupOptions_useDemo_2000_2_Test,original,2000,0,0,0,0,0.000,0.0%
1,CodeGen,original_StartupOptions_useDemo_2000_3_Test,original,2000,0,0,0,0,0.000,0.0%
2,CodeGen,scenario1_StartupOptions_useDemo_2000_4_Test,scenario1,2000,0,0,0,0,0.000,0.0%
3,CodeGen,scenario2_StartupOptions_useDemo_2000_5_Test,scenario2,2000,1,1,0,0,0.032,0.0%
4,CodeGen,original_StartupOptions_useDemo_2000_8_Test,original,2000,0,0,0,0,0.000,0.0%

In [122]:
cols = list(df.columns.values)
cols

['MODEL',
 'FILE_NAME',
 'SCENARIO',
 'TOKEN',
 'TOTAL_TESTS',
 'TOTAL_FAILURES',
 'TOTAL_SKIPPED',
 'TOTAL_ABORTED',
 'TOTAL_TIME',
 'SUCCESS_RATE']

In [123]:
df = df[['MODEL',
         'SCENARIO',
 'TOKEN',
 'FILE_NAME',
 'TOTAL_TESTS',
 'TOTAL_ABORTED',
 'TOTAL_FAILURES',
 'TOTAL_SKIPPED',
        'SUCCESS_RATE',
 'TOTAL_TIME']]

In [124]:
df.sort_values(by=['SCENARIO', 'TOKEN'], inplace=True)

In [125]:
df.to_csv('/Users/lsiddiqsunny/Documents/Notre_Dame/Research/ICSE23-results/CodeGen/SF110-Results/csv-data/Test_Correctness_CodeGen_SF110_updated.csv', index=False)